@model CleanArch.Application.ViewModels.OrderViewModel

    <div class="container body-content">
        <div class="row order-content">
            @foreach (var order in Model.PizzaOrders)
            {
                <div>

                </div>
            }
        </div>

    </div>
